.table-container {
  margin: 20px auto;
  width: 90%;
  max-width: 1200px; /* Set a max width for larger screens */
}
.ch{
  color: white;
}
.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #1b1d1f;
}

.table th, .table td {
  padding: 12px 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.table th {
  background-color: #171414;
  color: rgb(244, 239, 239);
  font-size: 16px;
  text-transform: uppercase;
}


.table td {
  background-color: #ffffff;
}

.table img {
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.table img:hover {
  transform: scale(1.05);
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.delete-all-button {
  margin-left: 110px;
  width: 200px;
  height: 40px;
  background-color: red;
  display: block; /* Ensures it takes full width if needed */
  margin-top: 20px; /* Adds some space above the button */
}

h1 {
  font-family: 'Georgia', serif;
  text-align: center;
  color: #343a40;
  margin-bottom: 30px;
}

.navitems {
  /* display: 'block'; */
  position: fixed;
  right: 40px;
}
.notnavitems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 40px;
  top:60px;
  width: 200px;
  height: 150px;
  border-radius: 30px;
  backdrop-filter: blur(100px);
}
/* Responsive styles */
@media (max-width: 768px) {
  *{
    font-size:xx-small;
  }
  .table {
      font-size: 14px; /* Smaller font size for smaller screens */
  }
  .table th, .table td{
    font-size: xx-small;
  }
  button{
      font-size: 2px;
      width: 50px;
  }
  .table img {
      width: 50px; /* Resize images on smaller screens */
  }
  .delete-all-button {
      width: 100%; /* Full width on small screens */
      margin-left: 0; /* Reset left margin */
  }
}
