.contact-page * {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    text-align: center;
    padding: 0;
    color: white !important;
}

.navitems {
    /* display: 'block'; */
    position: fixed;
    right: 40px;
}
.notnavitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 40px;
    top:60px;
    width: 200px;
    height: 150px;
    border-radius: 30px;
    backdrop-filter: blur(100px);
}
.contact-page body {
    background-color: #181a1b;
    color: white;
}
.contact-page button {
    cursor: pointer;
    color: black !important;
}

.contact-page .nav {
    color: white;
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 15px 10px #000000;
    background-color: black;
}

.contact-page .logo {
    font-weight: bolder;
    font-size: 2rem;
}

.contact-page .navitems {
    position: absolute;
    right: 40px;
}

.contact-page nav ul {
    float: right;
    margin-right: 20px;
}

.contact-page nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.contact-page nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

.contact-page .active,
.contact-page a:hover {
    color: rgb(127, 127, 127);
    transition: ease-out .5s;
}

.uploadbtn {
    margin-top: 10px;
    padding: 7px 13px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-color: white;
}
.contact-page .uploadbtn {
    padding: 7px 13px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.contact-page .drop-down {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 30px;
    background-image: url('../img/profile.jpg');
    background-size: cover;
}

.contact-page .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.contact-page .dropdown {
    position: relative;
    display: inline-block;
    position: absolute;
    right: 0;
}

.contact-page .dropdown-content {
    display: none;
    position: absolute;
    background-color: #021f0a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    z-index: 1;
}

.contact-page .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contact-page .dropdown-content a:hover {
    background-color: #ddd;
}

.contact-page .dropdown:hover .dropdown-content {
    display: block;
}

.contact-page .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.contact-page .hamburger {
    display: none;
}

.navitems {
    /* display: 'block'; */
    position: absolute;
    right: 40px;
}
.notnavitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
    top:60px;
    width: 200px;
    height: 150px;
    border-radius: 30px;
    backdrop-filter: blur(100px);
}
@media (max-width: 768px) {
    .contact-page .navitems ul {
        display: none;
        flex-direction: column;
        background-color: rgb(2, 6, 22);
        position: relative;
        top: 105px;
        right: 0;
        width: 100%;
    }

    .contact-page .navitems ul li {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #fff;
    }

    .contact-page .uploadbtn {
        width: 150px;
        margin: 10px;
        position: relative;
        left: 12px;
    }

    .contact-page .hamburger {
        display: block;
        position: absolute;
        right: 60px;
    }

    .contact-page .show {
        display: flex !important;
    }
}

.contact-page .contact-container {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/contactbg.jpg');
}

.contact-page .contact-container form {
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.contact-page .contact-container form input {
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.contact-page .contact-container form input::placeholder {
    color: #ddd;
}

.contact-page .contact-container form #lastname,
.contact-page .contact-container form #mobile {
    margin-left: 20px;
}

.contact-page h2 {
    color: #fff;
    font-size: 3vh;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.contact-page h4 {
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.contact-page .contact-container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 60px;
}

.contact-page .contact-container form #button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333 !important;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.contact-page .contact-container form #button:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media (max-width:650px) {
    .contact-page .contact-container form {
        width: 70vw;
        height: 600px;
    }

    .contact-page .contact-container form textarea {
        min-width: 60vw;
    }

    .contact-page .contact-container form #lastname,
    .contact-page .contact-container form #mobile {
        margin-left: 0;
    }

    .contact-page .contact-container form #button {
        margin-right: 0vw;
    }
}

@media (max-width:450px) {
    .contact-page .contact-container form {
        width: 90vw;
        height: 600px;
    }

    .contact-page .contact-container form textarea {
        min-width: 80vw;
    }        
}