@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=SUSE:wght@100..800&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    text-align: center;
    padding: 0;
}

body {
    background-color: #181a1b;
    color: white;
    background-color: black;
    overflow: auto;
}

html {
    scroll-behavior: smooth;
}

/* animations */
.hidden {
    opacity: 0;
    transition: all 3s;
}

.show {
    opacity: 1;
}

@keyframes zoom-out {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

.zoom-out {
    transition: transform 1.3s ease-out;
}

.active-zoom {
    animation: zoom-out 1.3s ease-out;
}

.reverse-zoom {
    animation: zoom-in 1.3s ease-in;
}

@keyframes righttranslate {
    0% {
        transform: translateX(-20%);
        filter: blur(20px);
        opacity: 0.6;
    }

    100% {
        transform: translateX(0%);
        filter: none;
        opacity: 1;
    }
}

.translated {
    animation: righttranslate 1s ease-out forwards;
}

@keyframes lefttranslate {
    0% {
        transform: translateX(20%);
        filter: blur(20px);
        opacity: 0.6;
    }

    100% {
        transform: translateX(0%);
        filter: none;
        opacity: 1;
    }
}

.lefttranslated {
    animation: lefttranslate .8s ease-out forwards;
}

button {
    cursor: pointer;
}

.nav {
    color: white;
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 15px 10px #000000;
    background-color: black;
}

.logo {
    font-weight: bolder;
    font-size: 2rem;
    position: relative;
    float: right;
}

.navitems {
    /* display: 'block'; */
    position: relative;
    right: 40px;
}
.notnavitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 40px;
    top:60px;
    width: 200px;
    height: 150px;
    border-radius: 30px;
    backdrop-filter: blur(100px);
}
nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

a.active,
a:hover {
    color: rgb(127, 127, 127);
    transition: .5s;
    transition: ease-out .5s;
}

.uploadbtn {
    padding: 7px 13px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.drop-down {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 30px;
    background-image: url('../img/profile.jpg');
    background-size: cover;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;

    position: absolute;
    right: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.hamburger{
    display: none;
}
@media (max-width: 768px) {
    .navitems ul {
        display: none; 
        flex-direction: column;
        background-color: rgb(2, 6, 22);
        position: relative;
        top: 105px;
        right: 0;
        width: 100%;
    }

    .navitems ul li {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #fff;
    }

    .uploadbtn {
        width: 150px;
        margin: 10px;
        position: relative;
        left: 12px;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 20px;
    }
    .show{
        display: flex !important;
    }
}

/* intro-slide */
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.intro-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: flex-start;
    font-family: "SUSE", sans-serif;
    overflow: hidden;
}

.websitename {
    position: absolute;
    top: 5.5vh;
    font-size: 2.6vh;
    font-family: "SUSE", sans-serif;
}

.introname {
    position: absolute;
    top: 10vh;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5vh;
    font-family: "Cormorant", serif;
    z-index: 10;
}

#Video {
    position: absolute;
    bottom: 2.4vh;
    width: 98%;
    height: 75vh;
    object-fit: cover;
    z-index: 5;
}


/* slide 0 */
.container0 {
    color: white;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    height: 750px;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/best_jewellery_photographer_mumbai-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: brightness(0.6);
}

#matter0 {
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* width: 100%; */
    height: 95%;
}

#l01 {
    position: relative;
    bottom: 10px;
    font-weight: 500;
    font-size: large;
}

#l02 {
    width: 90%;
    text-align: center;
    font-weight: 600;
    font-size: 52px;
}

#l03 {
    font-weight: 500;
    font-size: large;
    position: relative;
    top: 1rem;
}

#btn0 {
    width: 200px;
    height: 10%;
    position: relative;
    top: 2.7rem;
    border-radius: 4rem;
    font-size: 1.3rem;
    font-weight: 500;
    opacity: 0.8;
    cursor: pointer;
}

/* slide 1 */

.container1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    height: 645px;
}

.c1 {
    color: white;
    position: relative;
    flex: 1;
    padding: 10px;
}

.c1 button {
    font-weight: 500;
    font-size: 19px;
    position: relative;
    padding: 2px;
    top: 15px;
    width: 145px;
    height: 58px;
    border-radius: 40px;
    color: black;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.c1 button:hover {
    color: white;
    background-color: rgb(70, 70, 70);
    /* transition: ease-in .3s; */
    /* transform: translateY(-10px) scale(1.05); */
}

#matter1 {
    left: 60px;
}

#matter1 h3 {
    font-size: 45px;
    position: relative;
    bottom: 60px;
}

#matter1 p {
    font-size: 18px;
    position: relative;
    bottom: 33px;
}

#image11 img {
    max-width: 100%;
    height: auto;
    position: relative;
    left: 2rem;
    /* animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%; */
}

@media screen and (max-width: 768px) {
    .container1 {
        flex-direction: column;
        height: auto;
    }

    .c1 {
        flex: none;
        width: 100%;
        text-align: center;
    }

    #matter1 {
        left: 0;
    }

    .c1 button {
        left: 0;
        top: 20px;
        position: relative;
    }

    #matter1 h3 {
        font-size: 35px;
        bottom: 0;
    }

    #matter1 p {
        font-size: 16px;
        bottom: 0;
    }

    #image11 img {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* slide 2 */
.container2 {
    width: 100%;
    height: 650px;
    display: flex;
    box-sizing: border-box;
    background-color: black;
}

.c2items {
    height: 100%;
    /* margin: 10px; */
    width: 33%;
}

.c2item2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    padding: 2px;
    /* border: 10px ridge #414141; */
    box-sizing: border-box;
    color: #C9DABF;
    position: relative;
    z-index: 1;
}

.c2item2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/sendme.avif);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

.c2img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.button {
    width: 10px;
    height: 10px;
    margin: 15px;
}

.button:hover,
.button:active {
    background-color: grey;
}

.left2,
.right2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c2l1 {
    font-size: 2.8vw;
    font-weight: 600;
    position: relative;
    bottom: 9vh;
}

#c2l2 {
    position: relative;
    bottom: 8.8vh;
    font-size: 1.2vw;
}

#c2l3 {
    font-size: 2.5vw;
    font-weight: 600;
    position: relative;
    bottom: 7vh;
    color: whitesmoke;
}

#c2l4 {
    font-size: 2.9vh;
    font-weight: 500;
    position: relative;
    bottom: 3.2vh;
}

#c2l5 {
    line-height: 3.5vh;
    font-size: 1.1vw;
    margin: 0px 7px;
}

.explorebtn {
    width: 160px;
    height: 55px;
    border-radius: 30px;
    font-size: large;
    font-weight: 600;
    position: relative;
    top: 40px;
}

.explorebtn:hover {
    background-color: rgb(61, 60, 60);
    outline: none;
}

@media screen and (max-width: 800px) {
    .container2 {
        flex-direction: column;
        height: 95vh;
    }

    .c2items {
        width: 100%;
        height: 33%;
    }

    .c2img {
        justify-content: center;
    }

    #c2l1,
    #c2l3 {
        font-size: 5vw;
    }

    .c2item2 {
        line-height: 15px;
    }

    #c2l2,
    #c2l4,
    #c2l5 {
        font-size: 2.5vw;
        line-height: 20px;
    }

    #c2l1,
    #c2l2,
    #c2l3,
    #c2l4{
        position: static;
        display: block;
        margin: 10px;
    }
    .explorebtn {
        width: 140px;
        height: 45px;
        position: relative;
        top: 20px;
    }
}

/* slide 3 */
.container3 {
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 6vh;
    margin: auto;
}

.container3 h4 {
    font-family: "SUSE", sans-serif;
    position: relative;
    font-size: 30px;
}

.container3 p {
    font-family: "Cormorant", serif;
    font-size: 38px;
}

.container3 button {
    /* width: 9.2vw; */
    width: 140px;
    padding: 14px;
    /* margin: 10px; */
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    color: white;
    position: relative;
    top: 3vh;
}

.container3 button:hover {
    background-color: white;
    color: black;
    transition: ease 0.5s;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
}

.footer p {
    font-family: "Cormorant", serif;
    color: rgb(158, 158, 158);
    margin: 1.2vh;
}

.copyright,
.mail {
    font-weight: 700;
}

.socialmedia {
    font-size: large;
}